<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Park</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/styles/addPark.css">
<body>

<div class="form-container">
    <h1>Add a Park</h1>
    <form action="/Admin/submitPark" method="post">
        <div class="form-group">
            <label for="name">Park Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
        </div>

        <div class="form-group">
            <label for="description">Amenities:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
        </div>

        <button type="submit">Submit Park</button>
    </form>
</div>

</body>
</html>
