<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <img src="" alt="Website Logo">
    <div class="navbar">
        <a href="">test</a>
        <a href="">test</a>
        <a href="">test</a>
        <a href="">test</a>
    </div>

</header>

<main>
    <article id="left_section">
        <section class="image-section">
            <div class="image-container">
                <img src="">
                <img src="">
                <img src="">
            </div>
            <p>rating</p>
        </section>

        <section class="comment-section">
            <div class="comments">

            </div>
            <div class="comment-form">
                <form>
                    <input type="text" id="username" name="username">
                    <label for="username">Username:</label>

                    <input type="text" id="comment" name="comment">
                    <label for="comment">Comment:</label>
                </form>
            </div>
        </section>

    </article>

    <article id="right-section">
        <section class="map">

        </section>

        <section class="amenities">
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
        </section>
    </article>
</main>

<footer>

</footer>

</body>
</html>