<!DOCTYPE html>
<html>
    <head>
        <title class="title">Users</title>
        <link th:href="@{/styles/register.css}" rel="stylesheet">
        <script th:src="@{/JS/validation.js}"></script>
    </head>
    <header class="header">
        <nav class="nav">
            <img id="logo"
                height="100"
                alt="Logo"
                src="./images/logo.png"
                title="Logo">
            <a th:href="@{/home}">Home</a>&emsp;
            <a th:href="@{/explore}">Explore All Parks</a>&emsp;
            <a th:href="@{/addPark}">Add a Park</a>&emsp;
            <button onclick=location.href="/adminPage">Administrator</button>
        </nav>
    </header>
    <main>
        <body>
            <section class="section">
                <!--Existing user form-->
                <article id="login-div">
                    <h1 id="login-title">Existing Users</h1>
                        <br><br>
                        <form id="login-form" name="login-form" onsubmit="return login()">
                            <label class="label"><b class="field-title">Username:</b><br>
                                <input class="input-form" type="text" name="username-login">
                            </label>
                            <br><br>
                            <label class="label"><b class="field-title">Password</b><br>
                                <input class="input-form" type="text" name="password-login">
                            </label>
                            <br><br>
                            <button class="button-form" type="submit" name="button-login">Login</button>
                        </form>
                </article>
                <!--New user form-->
                <article id="register-div">
                    <h1 id="register-title">New Users</h1>
                        <br><br>
                        <div id="buttonless">
                        <form id="register-form" name="register-form" onsubmit="return register()">
                            <div class="form-row">
                            <label class="label"><b class="field-title">Username:</b><br>
                                <input class="input-form" type="text" name="username-register">
                            </label>
                            <br><br>
                            <label class="label"><b class="field-title">Email</b><br>
                                <input class="input-form" type="email" name="email-register">
                            </label>
                            </div>
                            <div class="form-row">
                            <label class="label"><b class="field-title">Password</b><br>
                                <input class="input-form" type="text" name="password-register">
                            </label>
                            <br><br>
                            <label class="label"><em id="re-enter">Re-enter Password</em><br>
                                <input class="input-form" type="text" name="re-enter">
                            </label>
                            </div>
                            <br><br>
                        </div>
                            <button class="button-form" type="submit" name="button-register">Register</button>
                        </form>
                </article>
            <section>
        </main>
    </body>
    <footer class="footer">
        <h3>About Green Spaces</h3>
        <p>We're a group of outdoor enthusiasts, environmentalists, 
            and city explorers passionate about green spaces! 
            With backgrounds in ecology, design, and tech, we are committed 
            to helping people find their next favorite park and meet like-minded park enthusiasts. 
            Each review blends expert insights and real experiences to make every visit memorable.</p><br>
        <a href="">Terms of Service</a><br>
        <a href="">Privacy Policy</a>
    </footer>
</html>
